<div class="flex flex-col justify-center items-center w-screen h-screen gap-5">
  <!-- <app-combo-box /> -->
  <hr class="w-full" />
  <form [formGroup]="form">
    <app-select
      [items]="countriesList()"
      [placeholder]="'Select a item'"
      valueKey="name"
      optionLabel="name"
      [multiple]="true"
      (selectionChange)="onSelectionChange($event)"
      formControlName="selectedItem"
    />
  </form>
  <!-- <ac-dropdown
    [dropdownOptions]="countriesList()"
    [optionLabel]="'name'"
    [value]="'code'"
  /> -->
</div>
