<div class="p-5">
  <form [formGroup]="form" class="flex justify-center gap-5">
    <app-select
      [items]="countriesList()"
      [placeholder]="'Select a item'"
      valueKey="name"
      optionLabel="name"
      [multiple]="true"
      (selectionChange)="onSelectionChange($event)"
      formControlName="selectedItem"
      label="Filter by countries"
    />
    <app-dropdown
      [dropdownOptions]="countriesList()"
      [optionLabel]="'name'"
      [value]="'code'"
      placeholder="All Countries"
      label="Filter by countries"
      value="value"
      [disable]="true"
    />
  </form>
</div>
